.tasks_table {
    display: flex;
    width: 100%;
}

.adding_new_task_modal {
    position: absolute;
    width: 300px;
    height: 350px;
    left: calc(50% - 150px);
    top: calc(50% - 135px);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: white;
    box-shadow: 0 0 3px 3px #ccc;
    border-radius: 4px;
}

.adding_new_task_modal p {
    font-size: 18px;
    margin: 0;
}

.inputs_group:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 230px;
}

.inputs_group:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 230px;
}

.adding_new_task_form {
    display: flex;
    height: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.tasks_todo,
.tasks_doing,
.tasks_done {
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 20px;
    padding: 10px;
}

.task_card {
    box-shadow: 0 1px 1px 1px #ccc;
    text-align: left;
    padding: 2px 10px;
    margin-bottom: 8px;
}

.task_card:last-child {
    margin-bottom: 0;
}