<div class="login_card">
  <form class="form_inside_card">
    <h1>Authorization</h1>
    <p class="messages" *ngIf="messages">{{messages}}</p>
    <div class="form_inputs">
      <label for="inputLogin">Email</label>
      <input id="inputLogin" [(ngModel)]="email" name="email" type="text">
      <label for="inputPassword">Password</label>
      <input id="inputPassword" [(ngModel)]="password" name="password" type="password">
    </div>
    <button class="custom_green_button" (click)="login(email, password)">Submit</button>
  </form>
</div>
