.login_card {
    position: absolute;
    width: 300px;
    height: 300px;
    padding: 30px 10px;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    border-radius: 4px;
    box-shadow: 0 1px 1px 1px #ccc;
}

.login_card h1 {
    margin: 0;
    padding: 0;
    background: -webkit-linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
	background: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
    -webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
}

.form_inside_card {
    display: flex;
    height: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.form_inside_card .messages {
    background: rgba(231, 87, 87, 0.897);
    border-radius: 4px;
    color: white;
    padding: 8px 30px;
    margin: 0;
    transition: all .3s;
}

.form_inputs {
    display: flex;
    width: 60%;
    flex-direction: column;
    font-weight: bold;
    color: rgb(117, 117, 117);
}

.form_inputs label:nth-child(n) {
    margin-bottom: 10px;
}

.form_inputs input:nth-child(2) {
    margin-bottom: 10px;
}

.form_inputs input:last-child {
    margin-bottom: 0;
}

.form_inputs input {
    padding: 8px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background: white;
    color: rgb(117, 117, 117);
    transition: all .3s;
    box-shadow: 0 0 2px 0 rgb(216, 216, 216);
}

.form_inputs input:focus {
    transition: all .3s;
    box-shadow: 0 0 3px 3px rgb(245, 245, 245);
}

.form_inside_card button {
    width: 70%;
    height: 40px;
    padding: 5px;
    font-size: 20px;
}